.toolbar {
	background-color: $background;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	&__container {
		margin: 0 auto;
		padding: 0 17px 0 18px;
		color: $text-w;
	}
	&__logo {
		width: 275px;
		color: $gold;
	}
	&__navigation {
		width: 572px;
		display: flex;
		justify-content: space-between;
		&_link:hover {
			color: $gold;
			cursor: pointer;
		}
		@media (max-width: $maxw-ipad) {
			display: none;
		}
	}
	&__phone {
		display: flex;
		color: $gold;
		text-decoration: underline;
		justify-content: flex-end;
		width: 203px;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 37px;
		width: 161px;
		margin-left: 45px;
		@media (max-width: $maxw-ipad) {
			display: none;
		}
	}
	@media (max-width: $maxw-ipad) {
		&>div:hover {
			margin-bottom: 130px;
			@media (max-width: $maxw-mobile) {
				margin-bottom: 245px;
			}
			.toolbar__navigation {
				display: flex;
				flex-direction: column;
				position: absolute;
				left: 0;
				top: 83px;
				padding: 20px;
				gap: 40px;
				width: 100%;
				background: linear-gradient(to bottom, $background 64%, rgba(0, 0, 0, 0.1) 100%);
				@media (max-width: $maxw-ipad) {
					background: linear-gradient(to bottom, $background 74%, rgba(0, 0, 0, 0.1) 100%);
				}
			}
			.toolbar__button {
				display: flex;
				position: absolute;
				right: 17px;
				top: 83px;
			}
		}
	}
}




