.toolbar {
	background-color: $background;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	&__container {
		margin: 0 auto;
		padding: 0 17px 0 18px;
	}
	&__logo {
		width: 275px;
	}
	&__logo_text {
		color: $gold;
	}
	&__navigation {
		color: $text-w;
		width: 572px;
		display: flex;
		justify-content: space-between;
		&_link:hover {
			color: $gold;
			cursor: pointer;
		}
		@media (max-width: $maxw-ipad) {
			display: none;
		}
	}
	&__phone {
		display: flex;
		color: $gold;
		text-decoration: underline;
		justify-content: flex-end;
		width: 203px;
	}
	&__button {
		height: 37px;
		width: 161px;
		margin-left: 45px;
		@media (max-width: $maxw-ipad) {
			display: none;
		}
	}
}

.button {
	background-color: $gold;
	color: $text-w;
	text-transform: uppercase;
	font-style: italic;
	font-size: 11px;
	line-height: 15px;
	box-shadow: 0px 5px 15px 0px #E3B87333;
	border-radius: 2px;
	&:hover {
		cursor: pointer;
		box-shadow: 0px 5px 15px 0px #E3B8734D;
	}
}


