// todo __Fourth section__

.repairs {
	&__container {
		margin: 254px auto 0;
		align-items: flex-end;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
		padding: 0 17px 0 18px;
	}
	&__title {
		align-self: flex-start;
		position: absolute;
		text-align: center;
		margin-top: -106px;
		&::after {
			content: '';
			background: url(../images/icons/icon_line.svg) 20% / 33px 28px no-repeat, url(../images/icons/icon_tools.svg) 50% / 33px no-repeat, url(../images/icons/icon_line.svg) 80% / 33px 28px no-repeat;
			display: block;
			height: 35px;
			width: 213px;
			margin-top: 12px;
		}
	}

	&__case {
		width: 392px;
		margin-bottom: 27px;
		@media screen and (max-width: $maxw-mobile) {
			width: 100%;
		}
	}
}

.case {
	gap: 30px;
	&__detail {
		width: 84.2%;
		box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
		background: white;
		position: relative;
		z-index: 1;
		margin: -140px auto 0;
		@media screen and (max-width: $maxw-mobile) {
			margin: -180px auto 0 0;
		}
	}
	&__image{
		width: 100%;
	}
	&__title {
		text-transform: capitalize;
		padding: 25px 0 10px 31px;
	}
	&__list {
		padding: 0 31px 47px;
		& li {
			display: flex;
			align-items: center;
			gap: 5px;
			&::before {
				content: '';
				display: block;
				height: 5px;
				width: 5px;
				border-radius: 50%;
				background-color: $text-block-grey;
			}
		}
	}
	&__price {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 228px;
		height: 54px;
		background-color: $gold;
		color: $text-w;
		box-shadow: 5px 5px 10px
		rgba(227, 184, 115, 0.3);
		font-style: normal;
		position: absolute;
		margin-top: -27px;
	}
}
