//todo __Fifth section__

.feedback-detail {
	background-image: url(../images/background-image_2.png);
	background-repeat: no-repeat;
	@media screen and (max-width: $maxw-mobile) {
		display: none;
	}
	&__content {
		height: 725px;
		margin: 0 auto 242px;
		align-items: center;
		justify-content: flex-end;
		padding: 0 17px;
	}
	&__list {
		height: 506px;
		max-width: 330px;
		padding-left: 65px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		counter-reset: li;
		& li::before {
			content: '0' counter(li);
			counter-increment: li;
			font-family: 'YesevaOne';
			font-size: 18px;
			line-height: 25px;
			color: white;
			background: $gold;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 42px;
			width: 42px;
			border: 8px solid #fff;
			box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
			border-radius: 50%;
			position: absolute;
			margin-left: -65px;
		}
	}
	&__item {
		@include text (14px, 19px, $text-dark);
		height: 60px;
		display: flex;
		align-items: center;
	}
	&__contact-form {
		background-color: $background;
		height: 506px;
		max-width: 509px;
		display: block;
		margin-left: 16.2%;
		@media screen and (max-width: $maxw-ipad) {
			margin-left: 10px;
		}
	}
	&__saving {
		align-self: flex-end;
		@include text (18px, 26px, $gold);
		position: absolute;
		height: 72px;
		width: 220px;
		margin-right: 180px;
		display: flex;
		align-items: center;
		&::before {
			content: url(../images/icons/icon_pig-bank.svg);
			display: flex;
			justify-content: center;
			align-items: center;
			height: 72px;
			width: 72px;
			background-color: $gold;
			border-radius: 50%;
			position: absolute;
			margin-left: -80px;
		}
	}
}

.contact-form {
	&__title {
		@include text(18px, 26px, $input-text-w);
		text-align: center;
		width: 250px;
		margin: 28px auto 12px;
	}
	&__block_column {
		flex-direction: column;
		justify-content: flex-start;
		padding: 27px 49px;
	}
	&__input_dark {
		@include text (13px, 21px, $input-name-w);
		&:nth-child(-n+2) {
			margin: 0 0 49px;
		}
	}
	&__text_white {
		background-color: $background;
		@include text (14px, 22px, $input-text-w);
		width: 100%;
		&::placeholder {
			color: $input-text-w;
		}
	}
	&__checkbox_place {
		align-self: normal;
		position: relative;
		margin: 16px 0 39px;
	}
	&__button_size {
		width: 213px;
		padding: 19px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 200px;
	}
}

