// todo __Eighth section__

.contacts {
	background: linear-gradient(rgba(10, 10, 10, 0.904) 3.47%, rgba(16, 16, 16, 0.856)), url(../images/background-image_6.png);
	background-size: cover;
	background-position: center center;
	&__content {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: 0 17px 0 18px;
	}
	&__contact-form {
		background-color: $background;
		margin: -222px auto 52px;
		width: 883px;
		height: 445px;
	}
	&__adress {
		color: $gold;
		max-width: 600px;
		text-align: center;
	}
	&__tel {
		white-space: nowrap;
		font-family: inherit;
	}
	&__links {
		display: flex;
		gap: 15px;
		margin: 26px 0 40px;
	}
	&__mail {
		&::after {
			content: url(../images/icons/icon_mail.svg);
			display: flex;
			justify-content: center;
			align-items: center;
			height: 28px;
			width: 28px;
			background-color: $gold;
			border-radius: 50%;
		}
	}
	&__insta {
		&::after {
			content: url(../images/icons/icon_insta.svg);
			display: flex;
			justify-content: center;
			align-items: center;
			height: 28px;
			width: 28px;
			background-color: $gold;
			border-radius: 50%;
		}
	}
	&__map {
		margin-bottom: 66px;
	}
	@media screen and (max-width: $maxw-mobile) {
		background: $background;
		&__contact-form {
			margin: 40% auto 52px;
			width: 100%;
			height: 100%;
		}
		&__adress {
			order: 2;
		}
		&__links
		{
			order: 2;
		}
		.contacts__map {
			order: 1;
		}
	}

}

.contact-form {
	&__title_color {
		color: $heading-w;
		text-align: center;
		margin: 34px 0 0;
	}
	&__block_size {
			display: block;
			position: relative;
			padding: 45px 182px 0;
		}
	&__label_size {
		@include text (13px, 21px, $input-name-w);
		display: block;
		&:nth-child(-n+2) {
			width: 231px;
			margin-bottom: 48px;
		};
		&:nth-child(2) {
			position: absolute;
			top: 45px;
			right: 182px;
			align-self: flex-start;
		};
	}
	&__checkbox_indent {
		margin: 46px auto 50px 25%;
	}
	&__button_center {
		margin: 0 33%;
	}
	@media screen and (max-width: $maxw-mobile) {
		&__block_size {
		padding: 45px 0;
		}
		&__label_size {
			&:nth-child(-n+2) {
				position: relative;
				top: 0;
				right: 0;
				width: 100%;
				margin-bottom: 63px;
			}
		}
		&__checkbox_indent {
			margin: 21px 0 67px;
		}
		&__button_center {
			width: 100%;
			margin: 0;
		}
	}
}

// .input_size {
// 	margin-bottom: 48px;
// 	&:nth-of-type(3) {
// 		margin: 0;
// 	}
// }
