// todo __First section__ //

.projects {
	&:nth-of-type(2) {
		grid-area: 2;
	}
	background-color: $background;
	height: 1074px;
	&__content {
		max-width: 1171px;
		height: 553px;
		margin: 107px auto 92px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@media screen and (max-width: $maxw-mobile) {
			margin: 36px 0 58px;
			padding: 0 17px 0 18px;
			max-width: 100vw;
			justify-content: flex-start;
			align-items: center;
		}
	}
	&__heading {
		max-width: 200px;
	}
	&__text {
		font-size: 14px;
		line-height: 27px;
		color: $text-w;
		max-width: 445px;
		margin: 34px auto 42px 0;
		@media screen and (max-width: $maxw-mobile) {
			margin: 22px auto 36px;
			font-size: 11px;
			line-height: 17px;
			text-align: center;
		}
		&_size-less {
		font-size: 13px;
		line-height: 21px;
		color: $text-w;
		@media screen and (max-width: $maxw-mobile){
			font-size: 11px;
			line-height: 15px;
		}
		}
	}
	&__tabs {
		align-self: flex-end;
		position: absolute;
		height: inherit;
		background-image: url(../images/image-section_1.png);
		background-repeat: no-repeat;
		background-position: bottom;
		@media screen and (max-width: $maxw-mobile) {
			position: relative;
			align-self: normal;
			background-image: url(../images/image-section_1-mobile.png);
		}
	}
	&__parameters {
		max-width: 445px;
		display: inline-grid;
		grid-template: 31px 76px 31px 24px / 45% 55%;
		grid-auto-flow: column;
		@media screen and (max-width: $maxw-mobile) {
			// min-width: 340px;
		}
	}
	&__subtitle {
		color: $gold;
	}
	&__arrows  {
		padding-top: 80px;
		& circle:hover {
			fill: white;
		}
		@media screen and (max-width: $maxw-mobile) {
			display: none;
		}
	}
}

.heading_big {
	font-size: 27px;
	line-height: 37px;
	color: $gold;
	@media screen and (max-width: $maxw-mobile) {
		font-size: 22px;
		line-height: 30px;
		text-align: center;
	}
}

.subtitle{
	font-size: 18px;
	line-height: 25px;
	@media screen and (max-width: $maxw-mobile) {
		font-size: 14px;
		line-height: 19px;
	}
}

.tabs {
	&__name {
		display: inline-block;
		height: 20px;
		color: #FFFFFF4D;
		font-size: 14px;
		line-height: 19px;
		margin-right: 60.5px;
		@media screen and (max-width: $maxw-mobile) {
			display: none;
		}
		&:hover {
			color: $gold;
		}
		&:focus {
			color: $gold;
			&::after {
				content: '';
				background: #E3B873;
				height: 1px;
				display: block;
				width:initial;
				margin-top: 6px;
			}
		}
		&:last-of-type {
			margin-right: 0;
		}
	}

	&__image-block {
	}
}

// todo __Second section__ //

.control {
	&:nth-of-type(3) {
		grid-area: 3;
	}

	&__content {
	}

	&__heading {
	}

	&__movie {
	}

	&__text {
	}
}
.heading-section {
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
}


// todo __Third section__ //