// todo __Sixth section__

.realization {
	height: 864px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background-image_3.png);
	background-size: cover;
	background-position: center center;
	&__content {
		margin: 0 auto;
		padding: 0 17px;
		justify-content: space-between;
		gap: 43px;
	}
	&__styles {
		margin-top: 137px;
	}
	&__title {
		max-width: 380px;
		padding-right: 50px;
	}
	&__column-images {
		max-width: 354px;
		margin: -41px 0 0 0;
		&:nth-child(3) {
			margin: -112px 0 0;
			@media screen and (max-width: $maxw-ipad) {
				display: none;
			}
		}
	}
	&__image {
		&:nth-child(1) {
			margin-bottom: 38px;
		}
		&_mobile {
			display: none;
		}
	}
	@media screen and (max-width: $maxw-mobile) {
		background-image: none;
		height: inherit;
		&__content {
			flex-direction: column;
			justify-content: flex-start;
			gap: 0;

		}
		&__styles {
			margin-top: 55px;
		}
		&__title {
			max-width: 300px;
			margin: 0 auto 25px;
			padding: 0;
		}
		&__column-images {
			display: none;
		}
		&__image_mobile {
			margin-bottom: -35.5%;
			display: flex;
			align-items: flex-end;
			width: 100%;
			position: relative;
			&::before {
				content: '';
				background: $gold url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.56569 12.478L1.08689 6.99975L6.56569 1.52147L7.34778 2.30348L2.65107 6.99975L7.34778 11.696L6.56569 12.478Z' fill='white' stroke='white' stroke-width='0.75'/%3E%3C/svg%3E%0A") center no-repeat;
				display: block;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				position: absolute;
				left: 14px;
				top: 0;
				bottom: 0;
				margin: auto;
			}
			&::after {
				content: '';
				background: $gold url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.43431 1.52197L6.91311 7.00025L1.43431 12.4785L0.652222 11.6965L5.34894 7.00025L0.652222 2.30399L1.43431 1.52197Z' fill='white' stroke='white' stroke-width='0.75'/%3E%3C/svg%3E%0A") center no-repeat;
				display: block;
				height: 36px;
				width: 36px;
				border-radius: 50%;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 14px;
				margin: auto;
			}
		}
	}
}
.styles {
	&__list {
		display: flex;
		flex-direction: column;
		gap: 25px;
		margin-top: 47px;
		@media screen and (max-width: $maxw-mobile) {
			display: none;
		}
	}
	&__item {
		display: inline-block;
		height: 24px;
		@include text (20px, 38px, $text-w);
		&:hover {
			color: $gold;
			&::after {
				content: '';
				display: block;
				height: 1px;
				background-color: $gold;
				margin-top: -5px;
			}
		}
	}
}

.image_mobile {
	width: 100%;
}

// todo __Seventh section__

.clients {
	background-image: url(../images/background-image_5.svg);
	background-position: bottom;
	background-repeat: repeat-x;
	@media screen and (max-width: $maxw-mobile) {
		display: none;
	}
	&__content {
		flex-direction: column;
		align-items: center;
		margin: 110px auto 0;
	}
	&__container {
		text-align: center;
	}
	&__title {
		display: inline-block;
		&::after {
			content: '';
			background: url(../images/icons/icon_line.svg) 20% / 33px 28px no-repeat, url(../images/icons/icon_hands.svg) 50% / 33px no-repeat, url(../images/icons/icon_line.svg) 80% / 33px 28px no-repeat;
			display: block;
			height: 35px;
			width: 213px;
			margin-top: 12px;
		}
	}
	&__description {
		max-width: 370px;
		@include text (18px, 29px, $text-dark);
		margin: 25px 0 39px;
	}
	&__comments {
		gap: 54px;
		margin-bottom: 354px;
	}
}

.comment {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__block {
		background-color: white;
		max-width: 325px;
		height: 428px;
		box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.03);
		padding: 0 31px 0 20px;
		position: relative;

	}

	&__client {
		margin: 24px 0;
	}

	&__text {
		line-height: 23px;
	}

	&__data {
		width: 293px;
		height: 54px;
		background-color: $gold;
		color: $text-w;
		position: absolute;
		left: 0;
		bottom: 0;
		margin-bottom: -27px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		box-shadow: 5px 5px 20px
		rgba(227, 184, 115, 0.5);
		font-size: 17px;
		line-height: 24px;

		&::before {
			content: '';
			display: block;
			height: inherit;
			width: 1px;
			background-color: $text-w;
			position: absolute;
			left: 135px;
		}
	}

	&__square {
		width: 135px;
		padding-left: 55px;
		position: relative;
		&::before {
			content: url(../images/icons/icon_square.svg);
			position: absolute;
			margin: -3px -45px;
		}
	}

	&__time {
		width: 158px;
		padding-left: 55px;
		position: relative;
		// margin: 100px;
		&::before {
			content: url(../images/icons/icon_note.svg);
			position: absolute;
			margin: -3px -45px;

		}
	}
}
.client {
	display: flex;
	align-items: center;
	&__photo {
		border-radius: 50%;
		margin-right: 20px;
	}

	&__name {
		@include text (18px,22px, $heading);
		text-transform: capitalize;
		max-width: 200px;
	}
}



