@font-face {
    font-family: "YesevaOne";
    src: url(../fonts/YesevaOne-Regular.ttf);
}

@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@import "_general";


//__header________________//

@import "_header";
