@font-face {
    font-family: "YesevaOne";
    src: url(../fonts/YesevaOne-Regular.ttf);
}

@font-face {
    font-family: "NunitoSans";
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@import "_general";

.wrapper {
    min-width: 280px;
}
//__header________________//

@import "_header";
@import "_main-section"
